html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #091829;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.3em;
  color: #50ffd7;
}

h2 {
  font-size: 1em;
}

@media (min-width: 650px) {
  h2 {
    font-size: 1.3em;
  }
}

p {
  font-size: 1em;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

img {
  width: 100%;
}

.navigation {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.navigation ul a {
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2em;
}

.navigation ul a:hover {
  color: #50ffd7;
}

.navigation ul p {
  margin: 0px;
  color: #50ffd7;
  font-size: 1.2em;
}

.navigation .navigation-pages,
.navigation .navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.navigation .active-link {
  color: #50ffd7;
}

.home-container {
  margin: 0px 20px;
}

.home-container h1 {
  margin: 5px;
}

@media (min-width: 650px) {
  .home-container h1 {
    font-size: 5em;
  }
}

.home-container .home-cta {
  margin: 80px 0px;
}

.home-container .home-cta a {
  padding: 20px;
  background-color: #cd235e;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.home-container .home-cta a:hover {
  background-color: #a11c4a;
}

.home-container .home-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-container .home-skills p {
  margin-right: 15px;
}

footer {
  text-align: center;
  padding: 50px;
}

.project-container {
  margin: auto;
  max-width: 1500px;
}

.project-container .projects-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 20px;
}

.project-container h1 {
  margin-left: 20px;
}

.project-container .project-content {
  max-width: 300px;
}

.project-container .project-overlay {
  display: none;
  position: absolute;
  background-color: #091829;
  opacity: 80%;
  width: 100%;
  height: 100%;
  top: 0px;
}

.project-container .project-overlay-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container .project-overlay-links a {
  padding: 20px;
  margin: 5px;
  background-color: #50ffd7;
  width: 80%;
  border-radius: 3px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.project-container .project-overlay-links a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-container .project-content:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-container .project-content:hover .project-overlay {
  display: block;
}

.about-container {
  max-width: 1200px;
  margin: auto;
}

.about-container .about-content {
  margin: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-container h1 {
  margin: 40px 40px;
}

.about-container a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3em;
}

.about-container a:hover {
  color: #50ffd7;
}

.about-container p {
  max-width: 700px;
}

.about-container i {
  margin-right: 10px;
  color: #50ffd7;
}

.about-container img {
  border-radius: 50%;
  margin: 10px 40px 30px 0px;
  max-width: 300px;
  opacity: 0.6;
}

.about-container img:hover {
  opacity: 1;
}

.about-container .about-content-img {
  background-color: #091829;
}

.word-carousel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.word-carousel .static-txt {
  font-size: 25px;
}

.word-carousel ul {
  margin-top: 24px;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

.word-carousel .dynamic-txts {
  height: 37.5px;
  line-height: 37.5px;
  overflow: hidden;
}

.word-carousel li {
  color: #cd235e;
  list-style: none;
  font-size: 25px;
  position: relative;
  top: 0;
  -webkit-animation: slide 16s steps(8) infinite;
          animation: slide 16s steps(8) infinite;
}

@-webkit-keyframes slide {
  0% {
    top: 0;
  }
  100% {
    top: -300px;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }
  100% {
    top: -300px;
  }
}

.word-carousel span {
  position: relative;
}

.word-carousel span::after {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #091829;
  border-left: 2px solid #cd235e;
  -webkit-animation: typing 2s steps(14) infinite;
          animation: typing 2s steps(14) infinite;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
  }
}

@keyframes typing {
  100% {
    left: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */