.home-container {
  margin: 0px 20px;

  .home-cta {
    margin: 80px 0px;
  }

  .home-cta a {
    padding: 20px;
    background-color: $color-btn;
    color: $color-white;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: darken($color: $color-btn, $amount: 10);
    }
  }

  .home-skills {
    display: flex;
    flex-wrap: wrap;

    p {
      margin-right: 15px;
    }
  }

  .home-first-name {
    display: flex;
  }

  .home-first-name p {
    margin: 0px;
  }

  .home-first-name p:hover {
    animation-name: rotate;
    animation-duration: 0.7s;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
      color: $color-brand;
    }
    100% {
      transform: rotate(360deg);
      color: $color-brand;
    }
  }
}
