$color-background: #091829;
$color-white: #ffffff;
$color-brand: #50ffd7;
$color-black: #000000;

$font-primary: "Montserrat", sans-serif;
$font-heading: "Open Sans", sans-serif;

$mobile-width: 649px;
$tablet-min-width: 650px;
$computer-min-width: 1200px;
